.credit-card-form {
  justify-content: center;
  label {
    margin-bottom: 0;
  }
}

.btn.btn-pointer {
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
  }
}

.btn-billing-modal {
  cursor: pointer;
  background-color: #53c557;
  border: 1px solid darken(#53c557, 10%);
  &:hover {
    background-color: darken(#53c557, 8%);
    border: 1px solid darken(#53c557, 15%);
  }
}
