<div class="animated fadeIn text-center">
    <div *ngIf="plans.plan">
        <h3>{{ plans.plan.name }}</h3>
        ${{ plans.plan.price }}/{{ plans.plan.period }}
    </div>

    <div class="row credit-card-form mt-3">
        <div class="col-sm-12 col-md-8">
            <div class="form-row">
                <label for="card-element" class="mb-2">Credit or Debit card</label>
                <div id="card-element">
                    <!-- a Stripe Element will be inserted here. -->
                </div>

                <p class="card-errors text-danger mt-2">
                    <strong>{{ errors }}</strong>
                </p>
            </div>
        </div>
    </div>

    <button type="button" (click)="subscribe()" [disabled]="disabled" class="btn btn-lg btn-success btn-billing-modal btn-pointer mt-1 mb-3">
        Subscribe
    </button>
</div>
