<div class="animated fadeIn text-center">
    <div *ngIf="plans.plan" class="mt-1 mb-1">
        <h4 class="mb-2">Your Plan</h4>

        <h5 class="mb-0">{{ plans.plan.name }}</h5>
        ${{ plans.plan.price }}/{{ plans.plan.period }}
    </div>

    <div class="row credit-card-form mt-2">
        <div class="col-sm-12 col-md-8">
            <div class="form-row">
                <div class="card">
                    <div class="card-header">
                        <label for="card-element">
                            Enter Your Credit or Debit Card Below.
                        </label>
                    </div>
                    <div class="card-block">
                        <div id="card-element" class="mt-1">
                            <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <p class="card-errors text-danger mt-2">
                            <strong>{{ errors }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button *ngIf="!submitting" type="button" (click)="subscribe()" [disabled]="disabled" class="btn btn-cta btn-lg btn-success btn-pointer mt-1 mb-2">
        Subscribe
    </button>

    <studio-billing-loading *ngIf="submitting"></studio-billing-loading>
</div>
