<div class="animated fadeIn text-center">
    <div *ngIf="plans.plan">
        <h3>{{ plans.plan.name }}</h3>
        ${{ plans.plan.price }}/{{ plans.plan.period }}
    </div>

    <div class="row credit-card-form mt-2">
        <div class="col-sm-12 col-md-8">
            <div class="form-row">
                <label for="card-element" class="mb-1">
                    Enter Your Credit or Debit Card Below
                </label>

                <div id="card-element">
                    <!-- a Stripe Element will be inserted here. -->
                </div>

                <p class="card-errors text-danger mt-2">
                    <strong>{{ errors }}</strong>
                </p>
            </div>
        </div>
    </div>

    <button *ngIf="!submitting" type="button" (click)="subscribe()" [disabled]="disabled" class="btn btn-cta btn-lg btn-success btn-pointer mt-1 mb-3">
        Subscribe
    </button>

    <studio-billing-loading *ngIf="submitting"></studio-billing-loading>
</div>
