<div class="row">
    <div class="col-sm-12 text-center">
        <div [innerHtml]="intro()"></div>

        <div *ngIf="!authentication.authenticated()">
            <button *ngIf="!loading" (click)="login()" class="btn btn-cta btn-success btn-lg btn-pointer mt-1">
                Sign Up to Get Started
            </button>

            <p *ngIf="!loading" class="mt-2 mb-1">
                Already have an account?
                <button (click)="login()" type="button" class="btn btn-href">Login</button>
            </p>

            <studio-billing-loading *ngIf="loading"></studio-billing-loading>
        </div>

        <button *ngIf="authentication.authenticated()" (click)="continue()" class="btn btn-cta btn-success btn-lg btn-pointer mb-1">
            Get Started
        </button>
    </div>
</div>
