.card.card-plan {
  z-index: 200;
  transition: all 200ms;
  border-width: 2px;
  &.selected {
    border: 2px solid lighten(#53c557, 10%);
  }
  &:hover {
    border: 2px solid #53c557;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.07);
  }

  .btn-billing-modal {
    cursor: pointer;
    background-color: #53c557;
    border: 1px solid darken(#53c557, 10%);
    &:hover {
      background-color: darken(#53c557, 8%);
      border: 1px solid darken(#53c557, 15%);
    }
  }
}
