.card.card-plan {
  z-index: 200;
  &.selected {
    border: 2px solid #53c557;
    transition: all 250ms;
  }

  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  }

  .btn-billing-modal {
    cursor: pointer;
    background-color: #53c557;
    border: 1px solid darken(#53c557, 10%);
    &:hover {
      background-color: darken(#53c557, 8%);
      border: 1px solid darken(#53c557, 15%);
    }
  }
}
