<studio-billing-loading *ngIf="loading"></studio-billing-loading>

<!--
<p class="mb-1 text-center animated fadeIn" *ngIf="plans && plans.length">
    Downgrade or upgrade at any time.
</p>
-->

<div *ngIf="plans && plans.length" class="row animated fadeIn">
    <div *ngFor="let plan of plans" [class.offset-sm-3]="single()" class="col-sm-6 text-center">
        <div class="card card-plan" [class.selected]="selected(plan)">
            <div class="card-block">
                <h4>{{ plan.name }}</h4>

                <h6 class="card-title mt-1 mb-1">
                    ${{ plan.price }}/{{ plan.period }}
                </h6>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Accurate predictions</li>
                    <li class="list-group-item">View unlimited publications</li>
                    <li class="list-group-item">Download files from publications</li>
                </ul>

                <button type="button" (click)="continue(plan)" class="btn btn-cta btn-success btn-lg btn-pointer mt-1">Select</button>
            </div>
        </div>
    </div>
</div>
