<table class="table table-hover animated fadeIn" *ngIf="subscriptions.subscriptions">
    <thead>
    <tr>
        <th>Plan</th>
        <th>Price</th>
        <th>Ends</th>
        <th>Card</th>
        <th>Expires</th>
        <th>Status</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subscription of subscriptions.subscriptions">
        <td><strong>{{ subscription.plan.data.name }}</strong></td>
        <td>
            ${{ subscription.plan.data.price }}/{{ subscription.plan.data.period }}
        </td>
        <td>{{ subscription.ends_at }}</td>
        <td>
            {{ subscription.card_brand }}
            <span *ngIf="subscription.card_brand && subscription.card_last_four">/</span>
            {{ subscription.card_last_four }}
        </td>
        <td>
            {{ subscription.card_expiration_date }}
        </td>
        <td>
            <span *ngIf="status('active', subscription)" class="badge badge-success">Active</span>
            <span *ngIf="status('ending-soon', subscription)" class="badge badge-danger">Ending Soon</span>
            <span *ngIf="status('ended', subscription)" class="badge badge-default">Ended</span>
        </td>
        <td>
            <button
                    *ngIf="!subscription.ends_at"
                    (click)="delete(subscription)"
                    class="btn btn-danger btn-pointer">
                Cancel
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="row mt-3 animated fadeIn" *ngIf="subscriptions.subscriptions">
    <div class="col-sm-12 text-center">
        <button type="button" (click)="viewPlans()" class="btn btn-lg btn-success btn-billing-modal btn-pointer">View Plans</button>
    </div>
</div>
