.modal-dialog {
  margin-top: -1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);

  .modal-header {
    background-color: #f9f9fa;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    div.text-center {
      width: 100%;
    }
  }

  .modal-footer {
    background-color: #f9f9fa;
    justify-content: flex-start;
  }

  .btn-success {
    cursor: pointer;
    background-color: #31A335;
    border: 1px solid darken(#31A335, 15%);
    &:hover {
      background-color: lighten(#31A335, 5%);
      border: 1px solid darken(#31A335, 10%);
    }
  }
}
