<div bsModal #billingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2">
                <div class="text-center">
                    <h3>{{ title() }}</h3>
                </div>
            </div>

            <div class="modal-body">
                <studio-billing-subscriptions *ngIf="onStep('subscriptions')"></studio-billing-subscriptions>
                <studio-billing-intro *ngIf="onStep('intro')"></studio-billing-intro>
                <studio-billing-plans *ngIf="onStep('plans')"></studio-billing-plans>
                <studio-billing-payment *ngIf="onStep('payment')"></studio-billing-payment>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>
